﻿@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/knockout-3.5.0.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<section id="SectionEmploye">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Поиск по БД</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 ui-widget">
                        <input id="query" data-bind="value: AutocompleteSearchString, valueUpdate: 'afterkeydown', event: { 'keyup': DoAutocompleteSearch }" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>EmployeId</th>
                                    <th>EmployeName</th>
                                    <th>EmployeSurname</th>
                                    <th>EmployePositionName</th>
                                    <th>EmployeStatusName</th>
                                    <th>EmployeSalaryValue</th>
                                    <td>lay off</td>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: AutocompleteSearchRow">
                                <tr>
                                    <td data-bind="text: EmployeId"></td>
                                    <td data-bind="text: EmployeName"></td>
                                    <td data-bind="text: EmployeSurname"></td>
                                    <td data-bind="text: EmployePositionName"></td>
                                    <td data-bind="text: EmployeStatusName"></td>
                                    <td data-bind="text: EmployeSalaryValue"></td>
                                    <td>
                                        <button data-bind="click: $parent.dismissEmploye">-</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>добавление</h1>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <input id="filterDateFrom1" data-bind="value: inputFilters.employeName" value="Вася" class="input-sm form-control" placeholder="Имя" />
                    </div>
                    <div class="col-2">
                        <input id="filterDateFrom1" data-bind="value: inputFilters.employeSurname" value="Пупкин" class="input-sm form-control" placeholder="Фамилия" />
                    </div>
                    <div class="col-3">
                        <select id="selectDropdownList_1" required data-bind="options: $root.EmployePosition(), optionsText: 'EmployePositionName', optionsValue: 'EmployePositionId', value: inputFilters.employePositionId" class="dropdown input-sm form-control width-auto inline" placeholder="должность"></select>
                    </div>
                    <div class="col-3">
                        <select id="selectDropdownList_1" required data-bind="options: $root.EmployeStatus(), optionsText: 'EmployeStatusName', optionsValue: 'EmployeStatusId', value: inputFilters.employeStatusId" class="dropdown input-sm form-control width-auto inline" placeholder="должность"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <input class="btn search-button" type="button" data-bind="click: AddNewEmploye" value="ADD NEW" style="width: 100%;" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Список работников</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Величина</th>
                                    <th>Значение</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>к-во работников</td>
                                    <td data-bind="text: StatisticsEmployesCount"></td>
                                </tr>
                                <tr>
                                    <td>средняя ЗП</td>
                                    <td data-bind="text: StatisticsCommonSalary"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
            </div>
    <div class="container" style="margin-top: 20px;">
                <div class="row">

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1>Список работников</h1>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>EmployeId</th>
                                            <th>EmployeName</th>
                                            <th>EmployeSurname</th>
                                            <th>EmployePositionName</th>
                                            <th>EmployeStatusName</th>
                                            <th>EmployeSalaryValue</th>
                                            <td>lay off</td>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: EmployeRows">
                                        <tr>
                                            <td data-bind="text: EmployeId"></td>
                                            <td data-bind="text: EmployeName"></td>
                                            <td data-bind="text: EmployeSurname"></td>
                                            <td data-bind="text: EmployePositionName"></td>
                                            <td data-bind="text: EmployeStatusName"></td>
                                            <td data-bind="text: EmployeSalaryValue"></td>
                                            <td>
                                                <button data-bind="click: $parent.dismissEmploye">-</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</section>






<script type="text/javascript">
    var SectionEmployeViewModel = function () {
        var self = this;

        self.EmployePosition = ko.observable([]);
        self.StatisticsEmployesCount = ko.observable();
        self.StatisticsCommonSalary = ko.observable();
        self.AutocompleteSearchString = ko.observable("");
        self.AutocompleteSearchRow = ko.observable([]);

        self.EmployeStatus = ko.observable([]);
        self.EmployeSalary = ko.observable([]);
        self.EmployeResponse = ko.observable([]);
        self.EmployeRows = ko.observable([]);
        self.EmployeRows.subscribe((newValue) => {

            self.StatisticsEmployesCount(newValue.length);
            var salarySum = 0;
            for (var i = 0; i < newValue.length; i++) {
                salarySum += newValue[i]["EmployeSalaryValue"];
            }
            self.StatisticsCommonSalary(salarySum / newValue.length);

        });
        self.GetEmployees = () => {
            $.when(GetStatuses(self), GetPositions(self), GetSalary(self)).done(() => {
                GetEmployees(self);
            });
        };

        self.filters = {
            employeName: ko.observable(""),
            employeSurname: ko.observable(""),
            employePositionId: ko.observable(1),
            employeStatusId: ko.observable(1)
        };
        self.inputFilters = $.extend(true, {}, self.filters);
        self.setFilters = function () {
            self.filters.employeName(self.inputFilters.employeName());
            self.filters.employeSurname(self.inputFilters.employeSurname());
            self.filters.employePositionId(self.inputFilters.employePositionId());
            self.filters.employeStatusId(self.inputFilters.employeStatusId());
        };

        self.AddNewEmploye = function () {
            AddNewEmploye(self);
        };
        self.dismissEmploye = function (item) {
            DismissEmploye(self, item);
        };

        self.DoAutocompleteSearch = () => {
            if (self.AutocompleteSearchString().length > 2) {
                DoAutocompleteSearch(self);
            }
        }
    }
    function GetEmployees(vm) {
        $.ajax({
            url: window.location.origin + '/Home/GetEmployees',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var objectResponse = JSON.parse(response);
                vm.EmployeResponse([]);
                for (var item in objectResponse) {
                    vm.EmployeResponse().push({
                        EmployeId: objectResponse[item]["EmployeId"],
                        EmployeName: objectResponse[item]["EmployeName"],
                        EmployeSurname: objectResponse[item]["EmployeSurname"],
                        EmployePositionName: vm.EmployePosition().find(x => x.EmployePositionId === objectResponse[item]["EmployePositionId"])["EmployePositionName"],
                        EmployeStatusName: vm.EmployeStatus().find(x => x.EmployeStatusId === objectResponse[item]["EmployeStatusId"])["EmployeStatusName"],
                        EmployeSalaryValue: vm.EmployeSalary().find(x => x.EmployeSalaryId === vm.EmployePosition().find(x => x.EmployePositionId === objectResponse[item]["EmployePositionId"])["EmployeSalaryId"])["EmployeSalaryValue"]
                    });
                }
                vm.EmployeRows(vm.EmployeResponse());
            },
            error: function (err, status) {
                //vm.isLoading(false);
            },
            complete: function () {
            }
        });
    }
    function GetStatuses(vm) {
        return $.ajax({
            url: window.location.origin + '/Home/GetStatuses',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                vm.EmployeStatus(JSON.parse(response));
            },
            error: function (err, status) {
                //vm.isLoading(false);
            },
            complete: function () {
            }
        });
    }
    function GetPositions(vm) {
        return $.ajax({
            url: window.location.origin + '/Home/GetPositions',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                vm.EmployePosition(JSON.parse(response));
            },
            error: function (err, status) {
                //vm.isLoading(false);
            },
            complete: function () {
            }
        });
    }
    function GetSalary(vm) {


        return $.ajax({
            url: window.location.origin + '/Home/GetSalary',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                vm.EmployeSalary(JSON.parse(response));
                //console.log(vm.EmployePosition());

            },
            error: function (err, status) {
                //vm.isLoading(false);
            },
            complete: function () {
            }
        });
    }
    function AddNewEmploye(vm) {
        $.ajax({
            url: window.location.origin + '/Home/AddNewEmploye',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({
                EmployeId: 0,
                EmployeName: vm.inputFilters.employeName(),
                EmployeSurname: vm.inputFilters.employeSurname(),
                EmployePositionId: vm.inputFilters.employePositionId(),
                EmployeStatusId: vm.inputFilters.employeStatusId()
            }),
            success: function (response) {
                vm.GetEmployees();
            },
            error: function (err, status) {
            },
            complete: function () {
            }
        });
    }
    function DismissEmploye(vm, item) {
        $.ajax({
            url: window.location.origin + '/Home/DismissEmployee',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ EmployeId: item.EmployeId }),
            success: function (response) {
                vm.GetEmployees();
            },
            error: function (err, status) {
            },
            complete: function () {
            }
        });
    }
    function DoAutocompleteSearch(vm) {
        console.log(vm.AutocompleteSearchString());
        $.ajax({
            url: window.location.origin + '/Home/EmployeSearch',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ AutocompleteSearchString: vm.AutocompleteSearchString() }),
            success: function (response) {
                //vm.GetEmployees();
                console.log(JSON.parse(response));
                var arrayAutocomplete = JSON.parse(response);
                var tmpArr = [];
                for (var item in arrayAutocomplete) {
                    tmpArr.push(arrayAutocomplete[item]);
                }
                $("#query").autocomplete({
                    source: tmpArr,
                    select: (event, ui) => {
                        if (ui.item) {
                            vm.AutocompleteSearchRow(vm.EmployeRows().find(x => x.EmployeName === ui.item.value));
                            console.log(vm.AutocompleteSearchRow());
                            
                        }
                    }
                });
            },
            error: function (err, status) {
            },
            complete: function () {
            }
        });



    }
    $(function () {

        var vm = new SectionEmployeViewModel();
        vm.GetEmployees();
        ko.applyBindings(vm, document.getElementById('SectionEmploye'));

    });
</script>
